<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="DS4Windows Reworked"
      Manufacturer="meiameiameia"
      Version="$(var.ProductVersion)"
      UpgradeCode="65E808E3-D35A-4825-AE11-8D9415F16446"
      Scope="perMachine"
      InstallerVersion="500"
      Compressed="yes">
    <SummaryInformation Description="DS4Windows Reworked controller mapping and virtual game output" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of DS4Windows Reworked is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="DS4WindowsIcon" SourceFile="$(var.PublishRoot)\DS4Windows.exe" />
    <Property Id="ARPPRODUCTICON" Value="DS4WindowsIcon" />
    <Property Id="ARPHELPLINK" Value="https://github.com/meiameiameia/ds4windows-reworked/issues" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/meiameiameia/ds4windows-reworked" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="DS4Windows" />
    </StandardDirectory>

    <Component Id="ManagedInstallRegistration" Directory="INSTALLFOLDER" Guid="7BB57999-6B69-4A38-B0E3-B5AD0E25E35C">
      <RegistryValue Root="HKLM" Key="Software\DS4Windows" Name="InstallPath" Value="[INSTALLFOLDER]" Type="string" KeyPath="yes" />
      <RegistryValue Root="HKLM" Key="Software\DS4Windows" Name="Version" Value="[ProductVersion]" Type="string" />
    </Component>

    <Feature Id="MainFeature" Title="DS4Windows Reworked" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentRef Id="ManagedInstallRegistration" />
    </Feature>
  </Package>
</Wix>
